@use "../library";

.list {
  overflow: hidden;
}

.node {
  padding: 3px;

  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  overflow: hidden;

  &:hover {
    @include library.hover;
    background-color: var(--app-secondary-background-color);
  }
}

.selected {
  @include library.hover;
  background-color: var(--app-secondary-background-color);
}

.context-menu-opened {
  @include library.hover;
  background-color: var(--app-secondary-background-color);
}

.group {
  display: flex;

  &::before {
    content: "";

    display: block;
    margin: 3px 6px 0 2px;
    width: 5px;
    height: 9px;

    background: var(--arrow-right-icon-url) no-repeat;
    background-size: 6px;

    transition: transform 0.15s;
  }
}

.opened::before {
  transform: rotate(90deg);
}

:export {
  offset-base: 16;
  offset-delta: 14;
}
