.list {
  margin: 0;
  padding: 0;

  overflow: hidden;

  list-style: none;
}

.node {
  margin: 0;
  padding: 3px;

  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  overflow: hidden;

  &:hover {
    background-color: var(--app-secondary-background-color-hover);
  }
}

.selected {
  background-color: var(--app-secondary-background-color-hover);
}

.context-menu-opened {
  background-color: var(--app-secondary-background-color-hover);
}

.group {
  display: flex;

  &::before {
    content: "";

    display: block;
    margin-left: 2px;
    margin-right: 6px;
    margin-top: 3px;
    width: 5px;
    height: 9px;

    background: var(--arrow-right-icon-url) no-repeat;
    background-size: 6px;

    transition: transform 0.15s;
  }
}

.group-opened::before {
  transform: rotate(90deg);
}

:export {
  offset-base: 16;
  offset-delta: 14;
}
