@use "../library";

.workbench-screen {
    @include library.full-size;

    display: grid;
    grid-template-areas: "view-group-switch side-panel main-panel";
    grid-template-columns: 74px 280px 1fr;
}

.view-group-switch {
    @include library.shadow("right");

    grid-area: view-group-switch;
    padding: 14px;
    z-index: 100;
}

.view-group-switch-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 14px;
    width: 46px;
    height: 46px;

    &:last-child {
        margin-bottom: 0;
    }
}

.view-group-switch-button-icon {
    width: 30px;
    height: 30px;
}

.side-panel {
    grid-area: side-panel;
    z-index: 99;
}

.main-panel {
    grid-area: main-panel;
    z-index: 98;
    overflow-y: auto;
}
