.work-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.main-panel {
  padding: 16px 16px;
  flex-grow: 1;
  color: var(--app-text-color);
}
