@use "../library";

.input {
  @include library.rounded-corners("all");
  @include library.shadow("all");

  color: library.$text-secondary;
  background-color: library.$secondary;

  &:focus {
    background-color: library.$secondary-hover;
  }
}
