.button {
  padding: 8px 16px;
  background-color: var(--primary-button-background-color);
  border: none;
  color: var(--primary-button-text-color);
  font-size: var(--app-font-size-regular);
  font-weight: bold;
  border-radius: var(--border-radius);
  box-shadow: 0 0 15px var(--shadow-color);
}

.button:hover {
  background-color: var(--primary-button-background-color-hover);
  cursor: pointer;
}

.button:focus {
  background-color: var(--primary-button-background-color-hover);
  outline: none;
}

.button:active {
  transform: scale(0.99);
}

.fluid {
  width: 100%;
}
