@use "../library";

.solution-editor {
  @include library.full-size;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "side-panel content";
}

.side-panel {
  grid-area: side-panel;
  z-index: 100;
}

.form {
  padding-left: 16px;
  padding-right: 16px;
}

.solution-name {
  margin-bottom: 10px;
}

.content {
  grid-area: content;
  z-index: 99;

  @include library.full-size;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 32px;
}

.input {
  padding: 6px;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

%button {
  @include library.shadow("all");

  padding-top: 4px;
  padding-bottom: 4px;
}

.primary {
  @extend %button;
  flex-grow: 9;
}

.danger {
  @extend %button;
  flex-grow: 1;
}
