@use "../library";

.container {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 101;

    padding: 20px;
}

.error {
    @include library.shadow("all");
    @include library.rounded-corners("all");

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    padding: 20px 15px 20px 20px;
    margin-top: 5px;

    font-size: library.$text-regular;
    font-family: "Roboto", sans-serif;
    background-color: library.$background-secondary;
}

.error-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    width: 20px;
    margin-bottom: -4px;

    background-color: transparent;

    &::before {
        content: "";

        width: 12px;
        height: 100%;

        background: no-repeat center;
    }

    &:hover:active::before {
        transform: scale(0.9);
    }

    &::before {
        background-image: var(--tarsh-danger-icon-url);
    }

    &:hover::before {
        background-image: var(--tarsh-danger-hovered-icon-url);
    }
}
