.container {
  padding: 0 16px;
}

.input {
  margin-bottom: 10px;
  padding: 6px;
  width: 100%;

  box-shadow: 0 0 var(--shadow-size) var(--shadow-secondary-color);
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.button {
  padding-top: 4px;
  padding-bottom: 4px;

  box-shadow: 0 0 6px var(--shadow-secondary-color);
}

.primary {
  flex-grow: 9;
}

.danger {
  flex-grow: 1;
}
