@use "../library";

.tasks-view {
  @include library.full-size;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "subview-switch content";
}

.subview-switch {
  grid-area: subview-switch;
  z-index: 101;
}

.content {
  grid-area: content;
}

.tasks-content {
  @include library.full-size;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "side-panel description";
}

.side-panel {
  grid-area: side-panel;
  z-index: 100;
}

.description {
  grid-area: description;
  padding: 14px;
  z-index: 99;

  user-select: text;

  h1, h2, h3, h4, h5, h6 {
    font-weight: revert;
    font-size: revert;
  }

  p {
    margin: revert;
  }

  ul {
    margin: revert;
    padding: revert;
    list-style: revert;
  }
}
