@use "library";

.context-menu {
  @include library.shadow("all");

  position: fixed;

  margin: 0;
  padding: 6px;
  width: 200px;

  background-color: library.$background-primary;
}

%context-menu-button {
  padding: 6px;
  width: 100%;

  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;

  &:not(:hover) {
    background-color: transparent;
    box-shadow: none;
  }
}

.primary {
  @extend %context-menu-button;
}

.danger {
  @extend %context-menu-button;

  &:not(:hover) {
    color: library.$danger;
  }
}
