@use "library";

.screen {
  @include library.full-size;

  display: grid;
  grid-template-areas: "switch side-panel content";
  grid-template-columns: 74px auto 1fr;
}

.view-switch {
  @include library.shadow("right");

  grid-area: switch;
  padding: 14px;
  z-index: 100;
}

%view-button {
  margin-bottom: 14px;
  width: 46px;
  height: 46px;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin view-button-image($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center;
}

.tasks {
  @extend %view-button;
  @include view-button-image(var(--tasks-icon-url));
}

.options {
  @extend %view-button;
  @include view-button-image(var(--options-icon-url));
}

.view-side-panel {
  grid-area: side-panel;
  z-index: 99;
}

.view-content {
  grid-area: content;
  z-index: 98;

  & > div {
    @include library.full-size;
  }
}

.view-content-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
