@use "../library";

.no-vcs-providers {
    margin-bottom: 8px;

    font-size: library.$text-large;
}

.current-account-field {
    margin-bottom: 14px;
}

.provider {
    margin-bottom: 14px;

    &:last-child {
        margin-bottom: 0;
    }
}

.provider-heading {
    display: flex;
    justify-content: space-between;

    padding-bottom: 6px;

    border-bottom: 1px solid library.$text-primary;
}

.provider-name {
    text-transform: uppercase;
}

.provider-icon {
    margin-right: 6px;
}

%button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;

    background-color: transparent;

    &::before {
        content: "";

        width: 12px;
        height: 100%;

        background: no-repeat center;
    }

    &:hover:active::before {
        transform: scale(0.9);
    }
}

.add-account {
    @extend %button;

    &::before {
        background-image: var(--plus-icon-url);
    }

    &:hover::before {
        background-image: var(--plus-hovered-icon-url);
    }
}

.delete-account {
    @extend %button;

    margin-bottom: -4px;

    &::before {
        background-image: var(--trash-danger-icon-url);
    }

    &:hover::before {
        background-image: var(--trash-danger-hovered-icon-url);
    }
}

.account {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    margin-top: 12px;
}

.delete-account:hover+.account-name {
    color: library.$danger-hover;
}
