@use "../library";

.description {
  padding: 14px;

  user-select: text;

  h1, h2, h3, h4, h5, h6 {
    font-weight: revert;
    font-size: revert;
  }

  p {
    margin: revert;
  }

  ul {
    margin: revert;
    padding: revert;
    list-style: revert;
  }
}

.no-task {
  @include library.full-size;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 32px;
}
