.activity-bar {
  z-index: 1;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 74px;
  padding: 14px;
  height: 100%;

  box-shadow: 1px 0 3px var(--shadow-color);
}

.activity-button {
  display: block;

  margin-bottom: 16px;
  width: 46px;
  height: 46px;

  background-color: var(--button-primary-background-color);
  border-radius: var(--border-radius);
  border: none;
  box-shadow: 0 0 6px var(--shadow-color);

  color: var(--button-primary-text-color);
}

.activity-button:hover {
  background-color: var(--button-primary-background-color-hover);

  cursor: pointer;
}

.activity-button:focus {
  outline: none;
}

.activity-button:focus-visible {
  background-color: var(--button-primary-background-color-hover);
}

.activity-button.selected {
  background-color: var(--button-neutral-background-color);

  color: var(--button-neutral-text-color);

  transform-origin: center center;
  transform: scale(0.98);
  animation: rotate 0.3s ease-in-out;
}

.activity-button.selected:hover {
  background-color: var(--button-neutral-background-color);
  color: var(--button-neutral-text-color);
}

.activity-button:last-child {
  margin-bottom: 0;
}

.bottom-buttons {
  margin-top: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
