.content {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 100%;
  overflow: hidden;
}

.view-bar {
  z-index: 2;
}

.side-panel,
.side-panel-toggle {
  z-index: 1;
}

.main-panel {
  flex-grow: 1;

  background-color: var(--app-primary-background-color);

  color: var(--app-primary-text-color);
}
