.button {
  padding: 8px 16px;

  background-color: var(--button-primary-background-color);
  border-radius: var(--border-radius);
  border: none;
  box-shadow: 0 0 15px var(--shadow-color);

  color: var(--button-primary-text-color);
  font-size: var(--app-font-size-regular);
  font-weight: bold;
}

.button:hover {
  background-color: var(--button-primary-background-color-hover);

  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  background-color: var(--button-primary-background-color-hover);
}

.button:active {
  transform: scale(0.99);
}

.fluid {
  width: 100%;
}
