@use "library";

.button {
  @include library.rounded-corners("all");
  @include library.shadow("all");

  font-weight: bold;

  &:hover:active {
    transform: scale(0.99);
  }
}

@mixin button-variant($background-color, $text-color) {
  color: $text-color;
  background-color: $background-color;

  &:hover, &:focus-visible {
    @include library.hover;
  }
}

.primary {
  @include button-variant(var(--button-primary-background-color), var(--button-primary-text-color));
}

.secondary {
  @include button-variant(var(--button-secondary-background-color), var(--button-secondary-text-color));
}

.danger {
  @include button-variant(var(--button-danger-background-color), var(--button-danger-text-color));
}
