.context-menu {
  position: fixed;

  margin: 0;
  padding: 6px;
  width: 200px;

  background-color: var(--app-primary-background-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-primary-color);

  color: var(--app-primary-text-color);
}

.context-menu-button {
  padding: 6px;
  width: 100%;

  background-color: transparent;
  overflow: hidden;

  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:not(:hover) {
    box-shadow: none;
  }
}
