.context-menu {
  position: fixed;
  top: 400px;
  left: 400px;
  z-index: 1001;

  margin: 0;
  padding: 0 16px;
  min-width: 160px;

  background-color: var(--app-primary-background-color);
  box-shadow: 0 0 6px var(--shadow-color);

  color: var(--app-primary-text-color);
}
