@use "library";

%base-item {
  color: library.$text-secondary;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: library.$background-secondary;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: library.$background-secondary-hover;
  }
}

.preview {
  @extend %base-item;
  @include library.rounded-corners("all");

  padding: 3px 16px 3px 3px;

  background-image: var(--arrow-down-icon-url);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: calc(100% - 4px) 6px;
}

.opened {
  padding: 2px 15px 2px 2px;

  border: 1px solid library.$primary;
  background-position: calc(100% - 3px) 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.items-container {
  position: relative;
}

.items {
  position: absolute;
  width: 100%;
}

.item {
  @extend %base-item;

  padding: 2px;

  $border: 1px solid library.$primary;
  border-right: $border;
  border-left: $border;

  &:last-child {
    @include library.shadow("bottom");
    @include library.rounded-corners("bottom-left");
    @include library.rounded-corners("bottom-right");

    border-bottom: $border;
  }
}
