.preview, .option {
  background-color: var(--app-secondary-background-color);

  overflow: hidden;

  color: var(--app-primary-text-color);
  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;

  &:hover {
    background-color: var(--app-secondary-background-color-hover);
  }
}

.preview {
  padding: 3px 16px 3px 3px;

  background-image: var(--arrow-down-icon-url);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: calc(100% - 4px) 6px;
  border-radius: var(--app-border-radius);
}

.dropdown-opened .preview {
  padding: 2px 15px 2px 2px;

  border: 1px solid var(--dropdown-border-color);
  background-position: calc(100% - 3px) 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.option {
  padding: 2px;

  border: 1px solid var(--dropdown-border-color);
  border-bottom: none;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid var(--dropdown-border-color);
    box-shadow: 0 2px 4px -1px var(--shadow-primary-color);
    border-bottom-left-radius: var(--app-border-radius);
    border-bottom-right-radius: var(--app-border-radius);
  }
}

.relatively-positioned-container {
  position: relative;
}

.options {
  position: absolute;
  width: 100%;

  margin: 0;
  padding: 0;

  list-style: none;
}
