.container {
  overflow: hidden;
}

.roots,
.children {
  margin: 0;
  padding: 0;

  overflow: hidden;

  list-style: none;
}

.children :first-child {
  animation: appear 0.15s ease-out;
}

@keyframes appear {
  0% {
    margin-top: -40px;
  }
  50% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0;
  }
}

.node {
  margin: 0;
  padding: 3px;

  overflow: hidden;

  font-size: var(--app-font-size-small);
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}

.context-menu-opened,
.node:hover {
  background-color: var(--explorer-background-color-hover);
}

.arrow {
  margin-right: 6px;

  transition: transform 0.15s;
}

.arrow-opened {
  transform: rotate(90deg);
}

:export {
  offset-base: 16;
  offset-delta: 7;
}
