.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.node {
  margin: 0;
  padding: 3px;

  overflow: hidden;

  font-size: var(--app-font-size-small);
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}

.context-menu-opened,
.node:hover {
  background-color: var(--explorer-background-color-hover);
}

.arrow {
  margin-right: 6px;

  transition: transform 0.1s;
}

.arrow-opened {
  transform: rotate(90deg);
}

:export {
  offset-base: 16;
  offset-delta: 7;
}
