@use "library";
@use "theme";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  /* App general */
  --app-font-size-large: 1rem;
  --app-font-size-regular: 0.85rem;
  --app-font-size-small: 0.75rem;
  --app-border-radius: 2px;
  /* App primary */
  --app-primary-background-color: #212121;
  --app-primary-text-color: #e0e0e0;
  --app-primary-text-color-hover: #eeeeee;
  --app-primary-highlight: #1976d2;
  --app-primary-highlight-hover: #1e88e5;
  /* App secondary */
  --app-secondary-background-color: #424242;
  --app-secondary-background-color-hover: #616161;
  --app-secondary-text-color: #e0e0e0;
  --app-secondary-text-color-hover: #eeeeee;

  /* Input primary */
  --input-primary-background-color: #616161;
  --input-primary-background-color-focus: #757575;
  --input-primary-text-color: #e0e0e0;
  /* Input secondary */
  --input-secondary-background-color: #212121;
  --input-secondary-background-color-focus: #757575;
  --input-secondary-text-color: #e0e0e0;

  /* Button primary */
  --button-primary-background-color: #1976d2; /* 700 */
  --button-primary-background-color-hover: #1e88e5; /* 600 */
  --button-primary-text-color: #e0e0e0;
  /* Button secondary */
  --button-secondary-background-color: #616161;
  --button-secondary-background-color-hover: #757575;
  --button-secondary-text-color: #e0e0e0;
  /* Button danger */
  --button-danger-background-color: #d32f2f;
  --button-danger-background-color-hover: #e53935;
  --button-danger-text-color: #e0e0e0;

  /* Shadow */
  --shadow-primary-color: #000000;
  --shadow-secondary-color: #212121;
  --shadow-size: 4px;
  --shadow-primary-right: 1px 0 var(--shadow-size) -1px var(--shadow-primary-color);
  --shadow-primary-left: -1px 0 var(--shadow-size) -1px var(--shadow-primary-color);

  /* Dropdown */
  --dropdown-border-color: #1976d2;

  /* Icons */
  --tasks-icon-url: url("../assets/tasks.svg");
  --solutions-icon-url: url("../assets/code.svg");
  --demo-icon-url: url("../assets/desktop.svg");
  --options-icon-url: url("../assets/cog.svg");
  --arrow-down-icon-url: url("../assets/chevron-down.svg");
  --arrow-right-icon-url: url("../assets/chevron-right.svg");
  --plus-icon-url: url("../assets/plus.svg");
  --plus-hovered-icon-url: url("../assets/plus-hovered.svg");
  --minus-danger-icon-url: url("../assets/trash-danger.svg");
  --minus-danger-hovered-icon-url: url("../assets/trash-danger-hovered.svg");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

input {
  border: none;
  outline: none;
}


#root {
  @include library.full-size;
  @include library.theme("primary");

  font-size: theme.$text-regular;
  font-family: "Roboto", sans-serif;
  user-select: none;
}
