.input {
  padding: 8px;

  background-color: var(--input-background-color);
  border: none;
  box-shadow: inset 1px 1px 1px var(--shadow-color),
    inset -1px -1px 1px var(--shadow-color);
  border-radius: var(--border-radius);
  outline: none;

  color: var(--input-text-color);
  font-size: var(--app-font-size-regular);
}

.input:focus {
  background-color: var(--input-background-color-focus);
}

.fluid {
  width: 100%;
}
