.side-panel {
  display: flex;
  flex-direction: column;

  padding: 16px 0 0;
  width: 280px;
  height: 100%;

  color: var(--app-secondary-text-color);

  background-color: var(--app-secondary-background-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-primary-color);
}

.header {
  position: relative;

  display: flex;
  justify-content: space-between;

  margin: 0 16px 10px;
  padding-bottom: 2px;

  border-bottom: 1px solid var(--app-secondary-text-color);
}

.header-pulsing::before {
  content: "";

  position: absolute;
  right: 0;
  bottom: -1px;

  width: 100%;
  height: 1px;

  background-color: var(--side-panel-header-pulsing-color);

  animation: header-pulsing 1s linear infinite normal none running;
}

@keyframes header-pulsing {
  0% {
    left: 0;
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.title {
  margin: 0;

  font-size: var(--app-font-size-regular);
  font-weight: normal;
  text-transform: uppercase;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 20px;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  &::before {
    content: "";

    width: 14px;
    height: 100%;

    background: var(--cross-icon-url) no-repeat center;
  }

  &:hover::before {
    background-image: var(--cross-hovered-icon-url);
  }

  &:hover:active::before {
    transform: scale(0.9);
  }
}

.side-panel-toggle {
  position: absolute;
  top: 14px;

  padding: 4px 8px;

  font-size: var(--app-font-size-small);
  font-weight: normal;
  text-transform: uppercase;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin side-toggle($side, $rotate) {
  #{$side}: 0;

  transform-origin: $side bottom;
  transform: translateY(-100%) rotate($rotate);

  &:hover:active {
    transform: scale(0.96) translateY(-100%) rotate($rotate);
  }
}

.side-panel-toggle-left {
  @include side-toggle(left, 90deg);
}

.side-panel-toggle-right {
  @include side-toggle(right, -90deg);
}

.children {
  flex-grow: 1;
}
