.toggles {
  padding-top: 14px;

  box-shadow: var(--shadow-primary-right);
}

.toggle {
  display: block;
  padding: 0 6px;

  color: var(--app-primary-text-color);
  font-size: var(--app-font-size-small);
  font-weight: 500;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  &:hover {
    color: var(--app-primary-text-color-hover);
  }

  &:hover:active {
    transform: scale(0.98);
  }

  & span {
    display: inline-block;

    writing-mode: vertical-rl;
  }
}

.toggle {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.toggle-active {
  color: var(--app-primary-highlight);

  &:hover {
    color: var(--app-primary-highlight-hover);
  }
}
