.workspace {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 100%;
  overflow: hidden;
}

.main-panel {
  flex-grow: 1;

  padding: 16px 16px;

  color: var(--app-primary-text-color);
}
