@use "../library";
@use "../sizes";

.options {
  @include library.full-size;

  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-areas: "subview-switch side-panel content";
}

.subview-switch {
  grid-area: subview-switch;
  z-index: 101;
}

.side-panel {
  grid-area: side-panel;
  z-index: 100;
}

.content {
  grid-area: content;
  padding: 14px 20% 0;
  z-index: 99;
}

.sign-out {
  @include library.shadow("all");

  margin: auto 14px 16px;
  padding: 4px;
}

