.categories {
  margin-bottom: 24px;
}

.sign-out {
  margin-left: 14px;
  margin-right: 14px;
  padding: 4px;
  width: calc(100% - 28px);

  box-shadow: 0 0 var(--shadow-size) var(--shadow-secondary-color);
}

.content {
  padding: 14px 30px;
}

.field {
  width: 320px;
}
