@use "../library";

.side-panel-content {
    @include library.full-size;

    display: flex;
    flex-direction: column;
}

.loading-placeholder {
    margin-right: 16px;
    margin-left: 16px;
}

.stop-button {
    @include library.shadow("all");

    margin: auto 16px 14px;
    padding: 4px;
}
