@use "../library";

.side-panel-content {
    @include library.full-size;

    display: flex;
    flex-direction: column;
}

.side-panel-text {
    margin-right: 16px;
    margin-left: 16px;
}

.close-button {
    @include library.shadow("all");

    margin: auto 16px 14px;
    padding: 4px;
}

.main-panel-content-text {
    @include library.full-size;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: library.$text-large;
}

.loading-spinner {
    margin-bottom: 20px;
}

.main-panel-content {
    @include library.full-size;
}
