@use "../library";

.loading-placeholder {
    @include library.full-size;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    margin-bottom: 20px;
}

.loading-text {
    font-size: library.$text-large;
}
