@use "../library";

.demo-view {
  @include library.full-size;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "side-panel content";
}

.side-panel {
  grid-area: side-panel;
  z-index: 100;
}

.content {
  z-index: 99;
  grid-area: content;
}

.container {
  @include library.full-size;
}

.start-button, .stop-button {
  margin: 0 14px 8px;
  padding: 4px;
  width: calc(100% - 28px);
}

.close-button {
  margin: auto 14px 16px;
  padding: 4px;
  width: calc(100% - 28px);
}

.no-demos {
  margin: 0 14px 8px;

  text-align: center;
}

.service-not-selected, .demo-not-running {
  @include library.full-size;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 32px;
}
